body {
  margin: 0;
  font-family: 'SanFa',sans-serif !important;
  user-select: none;
 }

@font-face {
  font-family: 'SanFa';
  src: url("SFNSDisplay-Regular.otf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

body::-webkit-scrollbar{
  display: none;
}

:root{
    --bright-blue: #51e2f5;
    --blue-green: #9df9ef;
    --dusty-white: #edf756;
    --pink-sand: #ffa8B6;
    
    --ice-cold: #a0d2eb;
    --freeze-purple: #e5eaf5;
    --medium-purple: #d0bdf4;
    --purple-rain: #8458B3;
    --heaxvy-purple: #a28089;

    --brightly-orange: #ff1e00;
    --dimly-blue: #e8f9fd;
    --alet-highlight-green :#59ce8f;

    --grey-bluee-green: #c2edda;
    --live-green: #68d388;

    --bright-green: #beef00;

    --background-tan: #fceed1;
    --purple-y: #7d3cff;
    --yellow-gloves: #f2d53c;
    --redhead: #c80e13;

    --night-blue: #2d545e;
    --night-blue-shadow: #12343b;

    --ragin-beige: #fff5d7;
    --sleuthe-yellow: #feb300;

      --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark : #212529;

    --gray-100: #f8f9fa;
    --gray-200: #e9ecef;
    --gray-300: #dee2e6;
    --gray-400: #ced4da;
    --gray-500: #adb5bd;
    --gray-600: #6c757d;
}

.app{

  .title{
    display: flex;
    align-items: center;

    h1,.bi{
      font-weight: 600;
      letter-spacing: 1.08px;
    }
    .bi{
      font-size: 1.2rem;
    }
  }

  .body{

    .input{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 0.4rem;
      
      input{
        border-radius: 50px;
        border: 1px solid var(--success);
        width: 70%;
      }

      button{
        border-radius: 100px;
        padding: 0.4rem 1rem;
        background-color: var(--success);
        border: none;
        color: white;
      }
    }

    .result{
      margin: 1rem 0;
      display: flex;
      margin-top: 3rem;
      justify-content: space-around;
      width: 100%;

      .image{
        width: 80%;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 40vh;
        border-radius: 10px;

        .bi{
          font-size: 2rem;
        }
      }

      .bg{
        display: flex;
        gap: 0.2rem;
        align-items: center;
        justify-content: space-around;
        margin: 1rem 0;
        flex-direction: column;
        width: 30%;

        .btn{
          border-radius: 30px;
        }
      }
    }

    .download{
      margin-top: 3rem !important;

      .btn{
        border-radius: 100px;
        letter-spacing: 1.07px;
        width: 50% !important;
      }
    }

    .recent{
      margin: 2rem 0 ;
      width: 70%;
      margin: auto;

      h3{
        font-size: 1.3rem;
        letter-spacing: 1.03px;
        color: var(--secondary);
        border-bottom: 1px solid var(--secondary);
        width: 80%;
      }

      .list{
        border-radius: 10px;
        padding: 0.5rem;
        background-color: var(--gray-200);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        color: var(--success);
      }
    }
  }
}

@media (max-width: 900px) {
  .app{

    .title{
      display: flex;
      align-items: center;

      h1,.bi{
        font-weight: 600;
        letter-spacing: 1.08px;
      }
      .bi{
        font-size: 1.2rem;
      }
    }

    .body{

      .input{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0.4rem;
        
        input{
          border-radius: 50px;
          border: 1px solid var(--success);
        }

        button{
          border-radius: 100px;
          padding: 0.4rem 1rem;
          background-color: var(--success);
          border: none;
          color: white;
        }
      }

      .result{
        margin: 1rem 0;
        flex-direction: column;

        .image{
          width: 100%;
          align-items: center;
          justify-content: center;
          display: flex;
          height: 40vh;
          border-radius: 10px;

          .bi{
            font-size: 2rem;
          }
        }

        .bg{
          display: flex;
          gap: 0.2rem;
          align-items: center;
          justify-content: space-around;
          flex-direction: row;
          margin: 1rem 0;
          width: 100%;

          .btn{
            border-radius: 30px;
          }
        }
      }

      .download{
        margin-top: 0 !important;

        .btn{
          border-radius: 100px;
          width: 100% !important;
          letter-spacing: 1.07px;
        }
      }

      .recent{
        margin: 1rem 0;
        width: 100%;

        h3{
          font-size: 1.3rem;
          letter-spacing: 1.03px;
          color: var(--secondary);
          border-bottom: 1px solid var(--secondary);
          width: 80%;
        }

        .list{
          border-radius: 10px;
          padding: 0.5rem;
          background-color: var(--gray-200);
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          color: var(--success);
        }
      }
    }
  }
}